In [6]:
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

DATA_DIR = Path("data")
INPUT_FILE = DATA_DIR / "FCT-WEEK-220.xlsx"     # arquivo leve
WEEKS_AHEAD = 10                                 # parâmetro X (ajustável)

In [2]:
filiais = [
    18, 217, 245, 894, 1005, 3, 5, 7, 9, 10, 19, 20, 21, 22, 23, 24, 26, 31, 32, 33,
    35, 37, 39, 40, 41, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 59, 60, 62,
    63, 64, 66, 67, 68, 70, 71, 77, 78, 79, 80, 83, 87, 88, 89, 90, 92, 93, 94, 95,
    100, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 118, 119,
    120, 121, 122, 125, 128, 129, 130, 133, 134, 135, 137, 138, 140, 142, 143, 144,
    145, 147, 197, 198, 201, 202, 204, 205, 207, 208, 210, 215, 218, 221, 223, 226,
    228, 229, 230, 231, 238, 240, 241, 242, 248, 249, 250, 257, 258, 259, 263, 267,
    270, 272, 275, 276, 277, 278, 279, 282, 283, 284, 289, 291, 292, 296, 297, 306,
    309, 310, 311, 313, 314, 316, 317, 318, 319, 320, 327, 329, 330, 331, 332, 333,
    334, 335, 338, 342, 345, 346, 349, 351, 354, 356, 357, 358, 360, 363, 364, 366,
    372, 375, 378, 379, 380, 381, 382, 384, 386, 387, 388, 390, 391, 394, 399, 402,
    405, 406, 408, 409, 411, 412, 415, 417, 418, 419, 427, 428, 429, 431, 432, 434,
    435, 437, 446, 448, 449, 451, 453, 455, 456, 457, 458, 459, 460, 463, 465, 466,
    468, 471, 475, 478, 480, 482, 483, 485, 487, 488, 490, 1258, 492, 494, 495, 496,
    500, 501, 502, 504, 506, 507, 508, 510, 511, 514, 516, 521, 524, 526, 528, 529,
    532, 533, 536, 928, 542, 543, 544, 546, 547, 552, 641, 559, 561, 562, 563, 564,
    566, 567, 664, 571, 587, 590, 592, 593, 594, 597, 598, 599, 600, 601, 602, 605,
    609, 611, 612, 614, 615, 619, 622, 623, 625, 627, 628, 631, 633, 635, 636, 990,
    643, 646, 648, 653, 657, 661, 541, 665, 668, 671, 675, 678, 681, 684, 685, 690,
    692, 693, 696, 697, 702, 707, 710, 712, 491, 721, 725, 731, 734, 737, 738, 742,
    745, 749, 750, 751, 753, 754, 757, 760, 762, 770, 771, 773, 776, 777, 779, 784,
    786, 790, 791, 794, 796, 800, 806, 812, 819, 821, 822, 826, 828, 829, 830, 838,
    842, 847, 848, 851, 853, 859, 863, 865, 867, 869, 874, 876, 878, 882, 883, 884,
    887, 892, 896, 906, 911, 921, 925, 569, 934, 938, 943, 944, 947, 950, 953, 957,
    962, 965, 967, 968, 973, 980, 985, 987, 989, 556, 1139, 994, 996, 997, 1000, 1004,
    1006, 1007, 1011, 1014, 1017, 1019, 1023, 1025, 1027, 1028, 1029, 1030, 1032, 1033,
    1035, 1038, 1041, 1042, 1044, 1045, 1048, 1049, 1057, 1062, 1065, 1069, 1073, 1074,
    1075, 1077, 1078, 1079, 1081, 1084, 1085, 1088, 1090, 1100, 1103, 1108, 1109, 1112,
    1113, 1114, 1116, 1118, 1119, 1120, 1124, 1127, 1130, 1136, 1138, 1264, 1141, 1142,
    1143, 1151, 1153, 1155, 1156, 1157, 1158, 1159, 1160, 1162, 1163, 1166, 1169, 1170,
    1171, 1173, 1179, 1181, 1184, 1185, 1188, 1193, 1194, 1196, 1197, 1199, 1203, 1204,
    1205, 1206, 1211, 1212, 1216, 1217, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1228,
    1231, 1234, 1237, 1238, 1239, 1240, 1241, 1243, 1244, 1245, 1248, 1249, 1250, 1251,
    1253, 1254, 1255, 1256, 1257, 993, 1259, 1260, 1261, 1263, 715, 1265, 1266, 1267,
    1268, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1282, 1284, 1269, 1289, 1209,
    38, 1285, 401, 15, 1080, 1147, 899, 1137, 1101, 96, 698, 728, 785, 969, 1016, 998,
    1247, 913, 992, 305, 519, 1191
]

In [10]:

# Lê o arquivo
df = pd.read_excel(INPUT_FILE, engine='openpyxl')

# Mostra colunas
print("Colunas disponíveis:")
print(df.columns.tolist())

# Linhas antes
print(f"\nQtd de linhas ANTES do filtro: {df.shape[0]}")

# Garante que não tem espaços perdidos no nome da coluna
df.columns = df.columns.str.strip()

# Aplica filtro
df_filtrado = df[df['FILIAL'].isin(filiais)]

# Linhas depois
print(f"Qtd de linhas DEPOIS do filtro: {df_filtrado.shape[0]}")

# Visualiza algumas filiais únicas do resultado
print("\nFiliais únicas no df filtrado:")
print(df_filtrado['FILIAL'].unique()[:20])  # só primeiros 20 pra não lotar a tela

Colunas disponíveis:
['FILIAL', 'PRODUTO', 'COR', 'TAMANHO', 'VEL_VDA_COB', 'DIAS_VENDA', 'VENDAS', 'DIAS_ESTOQUE', 'VELOCIDADE_VENDAS', 'MINIMO', 'ALVO', 'COBERTURA', 'RESSUPRIMENTO', 'DATA_REFERENCIA', 'CENARIO']

Qtd de linhas ANTES do filtro: 323294
Qtd de linhas DEPOIS do filtro: 323294

Filiais únicas no df filtrado:
[  10  100 1000 1004 1005 1006 1007 1011 1014 1017 1019 1023 1025 1027
 1028 1029 1030 1032 1033 1035]

In [11]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323294 entries, 0 to 323293
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   FILIAL             323294 non-null  int64
 1   PRODUTO            323294 non-null  object
 2   COR                323294 non-null  object
 3   TAMANHO            323294 non-null  object
 4   VEL_VDA_COB        323294 non-null  float64
 5   DIAS_VENDA         323294 non-null  int64
 6   VENDAS             283679 non-null  float64
 7   DIAS_ESTOQUE       323294 non-null  int64
 8   VELOCIDADE_VENDAS  283679 non-null  float64
 9   MINIMO             323294 non-null  int64
 10  ALVO               0 non-null       float64
 11  COBERTURA          323294 non-null  int64
 12  RESSUPRIMENTO      323294 non-null  object
 13  DATA_REFERENCIA    323294 non-null  object
 14  CENARIO            323294 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 37.0+ MB

In [12]:
df_filtrado['DATA_REFERENCIA'] = pd.to_datetime(df_filtrado['DATA_REFERENCIA'])

In [13]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323294 entries, 0 to 323293
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   FILIAL             323294 non-null  int64
 1   PRODUTO            323294 non-null  object
 2   COR                323294 non-null  object
 3   TAMANHO            323294 non-null  object
 4   VEL_VDA_COB        323294 non-null  float64
 5   DIAS_VENDA         323294 non-null  int64
 6   VENDAS             283679 non-null  float64
 7   DIAS_ESTOQUE       323294 non-null  int64
 8   VELOCIDADE_VENDAS  283679 non-null  float64
 9   MINIMO             323294 non-null  int64
 10  ALVO               0 non-null       float64
 11  COBERTURA          323294 non-null  int64
 12  RESSUPRIMENTO      323294 non-null  object
 13  DATA_REFERENCIA    323294 non-null  datetime64[ns]
 14  CENARIO            323294 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(5), object(5)
memory usage: 37.0+ MB

In [14]:
#.isocalendar(): retorna um DataFrame temporário com três colunas: year (ano ISO da data), week (número da semana do ano, de 1 a 52/53), day (dia da semana, de 1=segunda até 7=domingo).
#.week: seleciona só a coluna semana desse calendário.
df_filtrado['SEMANA'] = df_filtrado['DATA_REFERENCIA'].dt.isocalendar().week
df_filtrado['ANO'] = df_filtrado['DATA_REFERENCIA'].dt.year

In [15]:
WEEKS_AHEAD = 10  # parâmetro X (ajustável)
OUTPUT_DIR = Path("outputs"); # Cria um objeto Path para a pasta "outputs" 
OUTPUT_DIR.mkdir(exist_ok=True, parents=True)  # Cria a pasta se não existir
 
# chave do item (ajuste se preferir outra granularidade)
df_filtrado["ARTCOR"] = df_filtrado["PRODUTO"].astype(str) + df_filtrado["COR"].astype(str)

In [17]:
df_filtrado["SKU"] = df_filtrado["ARTCOR"].astype(str) + df_filtrado["TAMANHO"].astype(str)

In [18]:
df_filtrado.head(3)

,FILIAL,PRODUTO,COR,TAMANHO,VEL_VDA_COB,DIAS_VENDA,VENDAS,DIAS_ESTOQUE,VELOCIDADE_VENDAS,MINIMO,ALVO,COBERTURA,RESSUPRIMENTO,DATA_REFERENCIA,CENARIO,SEMANA,ANO,ARTCOR,SKU
0,10,0111,AX7EN,G,0.040713,3,10.0,365,0.027397,2,NaN,220,SIM,2025-08-12,20250812_ARTIGO-COR_OT03_LP_FRQ,33,2025,0111AX7EN,0111AX7ENG
1,10,0111,AX7EN,M,0.031536,4,8.0,365,0.021918,2,NaN,220,SIM,2025-08-12,20250812_ARTIGO-COR_OT03_LP_FRQ,33,2025,0111AX7EN,0111AX7ENM
2,10,0111,AX7EN,P,0.013590,3,5.0,365,0.013699,2,NaN,220,SIM,2025-08-12,20250812_ARTIGO-COR_OT03_LP_FRQ,33,2025,0111AX7EN,0111AX7ENP

In [19]:
df_filtrado["VELOCIDADE_VENDAS"] = df_filtrado["VELOCIDADE_VENDAS"].fillna(0.0) # Preenche NaN com 0.0
df_filtrado["DIAS_ESTOQUE"] = df_filtrado["DIAS_ESTOQUE"].fillna(0.0) 

df_filtrado["VENDA_SEMANAL_EST"] = df_filtrado["VELOCIDADE_VENDAS"] * 7.0  # Converte para semanal
df_filtrado["ESTOQUE_INICIAL_EST"] = df_filtrado["VELOCIDADE_VENDAS"] * df_filtrado["DIAS_ESTOQUE"] #VELOCIDADE_VENDAS * DIAS_ESTOQUE → ESTOQUE_INICIAL_EST: se “dias de estoque” é a cobertura
#(quantos dias o estoque atual cobre dado o ritmo de venda), então taxa_diária × dias = unidades em estoque(estimativa do estoque atual)

In [20]:
base = df_filtrado[["FILIAL","SKU","VENDA_SEMANAL_EST","ESTOQUE_INICIAL_EST"]].copy()
#Mantém só o que a sim precisa por chave de item: filial + SKU (produto+cor+TAM), venda semanal e estoque inicial.

In [21]:
def simular_series(estoque0: float, venda_semanal: float, weeks_ahead: int, extra_weeks:int=0):
    """
    estoque0: Estoque inicial
    venda_semanal: Vendas médias por semana (constante)
    weeks_ahead: Horizonte de previsão (semanas à frente)
    extra_weeks: Semanas extras de simulação (opcional)
    """
    n = weeks_ahead + extra_weeks
    semanas = np.arange(1, n+1, dtype=int) # [1, 2, 3, ..., n]
    venda   = np.full(n, float(venda_semanal)) #vendas constantes
    alvo    = np.full(n, float(venda_semanal * weeks_ahead)) # Alvo = vendas * horizonte

    estoque = np.zeros(n, dtype=float) # estoque da semana
    repos   = np.zeros(n, dtype=float) # reposição da semana

    est = max(0.0, float(estoque0)) # Estoque inicial (nunca negativo)

    for i in range(n):
        est_pos_venda = est - venda[i]                  # estoque depois de vender na semana i
        rep = max(0.0, alvo[i] - est_pos_venda)         # quanto eu preciso repor p/ bater o alvo
        est = est_pos_venda + rep                       # estoque da semana seguinte
        estoque[i] = est
        repos[i]   = rep

    return pd.DataFrame({
        "Semana": semanas,
        "Venda": venda,
        "Alvo": alvo,
        "Reposicao": repos,
        "Estoque": estoque
    })

# 📦 Sistema de Simulação de Estoque

### 🎯 Objetivo
Simular um sistema de reposição de estoque baseado na estratégia de **estoque alvo**, otimizando a gestão de inventário.

### 📋 Parâmetros
- **`estoque0`**: Estoque inicial
- **`venda_semanal`**: Vendas médias por semana  
- **`weeks_ahead`**: Horizonte de previsão (semanas)
- **`extra_weeks`**: Semanas extras de simulação (opcional)

### 🔧 Funcionamento
Para cada semana, o sistema calcula:
```python
estoque_pós_venda = estoque_atual - venda
reposição = max(0, alvo - estoque_pós_venda)
estoque_final = estoque_pós_venda + reposição
```

### 🎯 Fórmula do Alvo
```
Estoque Alvo = Venda Semanal × Weeks Ahead
```

### 📊 Saída
DataFrame com as colunas:
- **Semana**: Número da semana
- **Venda**: Vendas realizadas
- **Alvo**: Estoque alvo desejado
- **Reposicao**: Quantidade reposta
- **Estoque**: Estoque final

### 💡 Aplicações
- Gestão otimizada de inventário
- Previsão de compras e reposição
- Análise de cenários e ROI
- Simulação de estratégias de supply chain

### 🚀 Exemplo
```python
resultado = simular_series(
    estoque0=100.0,
    venda_semanal=20.0, 
    weeks_ahead=3
)
```

Sistema essencial para otimização de gestão de estoques! 📦➡️💰

# 🧠 Processamento de Dados para Simulação de Estoque

## 📋 Objetivo
Processar uma base de dados para **simular cenários de reposição** para cada combinação única de filial e produto.

## 🔄 Fluxo do Processamento

### Agrupamento dos Dados
```python
for (filial, sku), g in base.groupby(["FILIAL","SKU"]):
```
- Agrupa a base por **filial e SKU** (código do produto)
- Cada grupo `g` contém todas as linhas de uma combinação específica

### 📊 Cálculos por Grupo

**Venda Semanal Média**
```python
venda_sem = float(g["VENDA_SEMANAL_EST"].mean())
```
- Média das vendas semanais estimadas para todos os tamanhos

**Estoque Inicial Total**  
```python
est_ini = float(g["ESTOQUE_INICIAL_EST"].sum())
```
- Soma do estoque inicial de todos os tamanhos do produto

### 🎯 Simulação Individual
```python
sim = simular_series(est_ini, venda_sem, weeks_ahead=10, extra_weeks=0)
```
- Simula 10 semanas de reposição para cada combinação filial-SKU

### 🏷️ Identificação dos Resultados
```python
sim["FILIAL"] = filial
sim["SKU"] = sku
```
- Adiciona colunas identificadoras aos resultados

## 📦 Consolidação Final

### Acumulação
```python
linhas.append(sim)
```
- Armazena cada simulação na lista `linhas`

### Concatenação
```python
saida = pd.concat(linhas, ignore_index=True)
```
- Combina todos os DataFrames em um único resultado

### Organização das Colunas
```python
[["FILIAL","SKU","Semana","Venda","Alvo","Reposicao","Estoque"]]
```
- Mantém apenas as colunas relevantes para análise

## 📊 Estrutura do Resultado

| FILIAL | SKU | Semana | Venda | Alvo | Reposicao | Estoque |
|--------|-----|--------|-------|------|-----------|---------|
| 001 | ABC123 | 1 | 20.0 | 200.0 | 50.0 | 150.0 |
| 001 | ABC123 | 2 | 20.0 | 200.0 | 70.0 | 200.0 |
| 002 | XYZ789 | 1 | 15.0 | 150.0 | 30.0 | 100.0 |

## 💡 Aplicações

- **Gestão granular** de inventário por filial e produto
- **Previsão de compras** específicas para cada combinação
- **Análise comparativa** entre filiais e produtos
- **Otimização** de políticas de reposição

> Processamento essencial para gestão eficiente de redes multi-filiais! 🏪📦📊

In [23]:
linhas = []
for (filial, sku), g in base.groupby(["FILIAL","SKU"], sort=False): #  sort=False evita o sort interno do pandas (ligeiro ganho de performance e mantém a ordem original) e g é o sub-dataframe daquele par (filial, sku)
    venda_sem = float(g["VENDA_SEMANAL_EST"].mean())   # venda_sem = soma das vendas semanais estimadas (se o SKU tiver várias linhas
    est_ini   = float(g["ESTOQUE_INICIAL_EST"].sum())  # est_ini = soma do estoque inicial estimado (estoque total do SKU na filial).

    sim = simular_series(est_ini, venda_sem, weeks_ahead=10, extra_weeks=0)
    sim["FILIAL"] = filial
    sim["SKU"] = sku
    linhas.append(sim)

saida = pd.concat(linhas, ignore_index=True)[["FILIAL","SKU","Semana","Venda","Alvo","Reposicao","Estoque"]]

In [24]:
saida.shape

(3232940, 7)

In [26]:
saida.head(100)

    FILIAL            SKU  Semana     Venda      Alvo  Reposicao   Estoque
0       10     0111AX7ENG       1  0.191781  1.917808        0.0  9.808219
1       10     0111AX7ENG       2  0.191781  1.917808        0.0  9.616438
2       10     0111AX7ENG       3  0.191781  1.917808        0.0  9.424658
3       10     0111AX7ENG       4  0.191781  1.917808        0.0  9.232877
4       10     0111AX7ENG       5  0.191781  1.917808        0.0  9.041096
..     ...            ...     ...       ...       ...        ...       ...
95      10  0111M2H07SXXG       6  0.076712  0.767123        0.0  3.539726
96      10  0111M2H07SXXG       7  0.076712  0.767123        0.0  3.463014
97      10  0111M2H07SXXG       8  0.076712  0.767123        0.0  3.386301
98      10  0111M2H07SXXG       9  0.076712  0.767123        0.0  3.309589
99      10  0111M2H07SXXG      10  0.076712  0.767123        0.0  3.232877

[100 rows x 7 columns]

In [28]:
# 1) cópia do longo -> vamos pivotar em cima dela
base_wide = saida.copy()

# 2) tipos menores (só pra aliviar memória/Excel)
base_wide["Semana"] = base_wide["Semana"].astype("int16")
for c in ["Venda","Alvo","Reposicao","Estoque"]:
    base_wide[c] = base_wide[c].astype("float32")

# 3) pivot: (FILIAL, SKU) como índice; SEMANA vira colunas
wide = (
    base_wide.pivot_table(
        index=["FILIAL","SKU"],
        columns="Semana",
        values=["Venda","Alvo","Reposicao","Estoque"],
        aggfunc="sum",
        fill_value=0.0,
        observed=True
    )
    .sort_index(axis=1, level=1)   # garante ordem das semanas
)

# 4) achatar MultiIndex de colunas -> "Venda_W01", "Alvo_W01", ...
wide.columns = [f"{met}_W{int(sem):02d}" for (met, sem) in wide.columns]
wide = wide.reset_index().round(3)

In [30]:
wide.head(10)

,FILIAL,SKU,Alvo_W01,Estoque_W01,Reposicao_W01,Venda_W01,Alvo_W02,Estoque_W02,Reposicao_W02,Venda_W02,...,Reposicao_W08,Venda_W08,Alvo_W09,Estoque_W09,Reposicao_W09,Venda_W09,Alvo_W10,Estoque_W10,Reposicao_W10,Venda_W10
0,3,0201AX7ENEXG,0.000,0.000,0.0,0.000,0.000,0.000,0.0,0.000,...,0.0,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.0,0.000
1,3,0201AX7ENG,1.151,5.885,0.0,0.115,1.151,5.770,0.0,0.115,...,0.0,0.115,1.151,4.964,0.0,0.115,1.151,4.849,0.0,0.115
2,3,0201AX7ENM,1.534,7.847,0.0,0.153,1.534,7.693,0.0,0.153,...,0.0,0.153,1.534,6.619,0.0,0.153,1.534,6.466,0.0,0.153
3,3,0201AX7ENP,1.342,6.866,0.0,0.134,1.342,6.732,0.0,0.134,...,0.0,0.134,1.342,5.792,0.0,0.134,1.342,5.658,0.0,0.134
4,3,0201AX7ENXG,1.151,5.885,0.0,0.115,1.151,5.770,0.0,0.115,...,0.0,0.115,1.151,4.964,0.0,0.115,1.151,4.849,0.0,0.115
5,3,0201AX7ENXP,0.192,0.981,0.0,0.019,0.192,0.962,0.0,0.019,...,0.0,0.019,0.192,0.827,0.0,0.019,0.192,0.808,0.0,0.019
6,3,0201AX7ENXXG,0.575,2.942,0.0,0.058,0.575,2.885,0.0,0.058,...,0.0,0.058,0.575,2.482,0.0,0.058,0.575,2.425,0.0,0.058
7,3,0201HMJENEXG,0.000,0.000,0.0,0.000,0.000,0.000,0.0,0.000,...,0.0,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.0,0.000
8,3,0201HMJENG,0.575,2.942,0.0,0.058,0.575,2.885,0.0,0.058,...,0.0,0.058,0.575,2.482,0.0,0.058,0.575,2.425,0.0,0.058
9,3,0201HMJENM,0.767,3.923,0.0,0.077,0.767,3.847,0.0,0.077,...,0.0,0.077,0.767,3.310,0.0,0.077,0.767,3.233,0.0,0.077

In [31]:
wide.shape

(323294, 42)

In [36]:

OUTPUT = Path("outputs/entrega_wide.xlsx")
OUTPUT.parent.mkdir(parents=True, exist_ok=True)

wide.to_excel(OUTPUT, index=False, sheet_name="Wide")
print("Salvo em:", OUTPUT.resolve())

Salvo em: C:\Users\gabriel.thiago\Projecao-alongada\outputs\entrega_wide.xlsx